<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/order">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="customerName"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" name="shipAddress"></td>
            </tr>
            <tr>
                <td>Notes:</td>
                <td><input type="text" name="notes"></td>
            </tr>
            <tr><button type="submit">Next</button></tr>
            
        </table>
    </form>
</body>
</html>